<section class="page__module-item hobbies">
	<h2 class="hobbies__title business__title">Хорошо знаком</h2>
	<ul class="hobbies__list">
		<li class="hobbies__item">Neuromarketing</li>
		<li class="hobbies__item">Adwords</li>
		<li class="hobbies__item">SEO</li>
		<li class="hobbies__item">Webdesign</li>
		<li class="hobbies__item">Material Design</li>
		<li class="hobbies__item">UX/UI</li>
		<li class="hobbies__item">Copywriting</li>
		<li class="hobbies__item">Psychology</li>
		<li class="hobbies__item">CPA-Marketing</li>
	</ul>
</section>