table(class="page__module-item business" cellspacing="20px")
	caption(class="business__title")=content.block.skills[lang]
		+businessItem('Javascript', 9)
		+businessItem('HTML + PUG', 8)
		+businessItem('CSS + SCSS', 8)
		+businessItem('Angular + NgRx', 8)
		+businessItem('Node JS', 6)
		+businessItem('MongoDB', 6)
		+businessItem('PHP + SQL', 4)
		+businessItem('PS + AdobeXD', 7)
		+businessItem('UX/UI', 8)
