$tablet-width: "(min-width: 768px)";
$tablet-width-additional: "(min-width: 980px)";
$desktop-width: "(min-width: 1200px)";
$mobile-width-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

// $breakpoints: (
// 	tablet: 768px,
// 	desktop: 1200px
// );

$scale: 1.333;

$base-font: (
	mobile: 16px,
	tablet: 17px,
	desktop: 19px
);

$type-scale: (
	h1: $scale*$scale*$scale,
	h2: $scale*$scale,
	h3: $scale,
	p: 1,
	small: 0.75*$scale,
);

@function fsz($device-type, $scale) {
	@return map-get($base-font, $device-type)*map-get($type-scale, $scale);
}

@function blocks-margin($device-type) {
	@return 4*map-get($base-font, $device-type)
}

$c-grey: #7a7a7a;
$c-grey-dark: #4c4c4c;
$c-grey-light: #CBCBCB;
$c-accent: #ff0000;

$max-width: 1180px;
$page-proportion: 1.411;
