.main-nav {
	position: relative;
	min-height: 50px;
}


@media #{$mobile-width-only} {

	.main-nav__wrapper {
		position: absolute;
		top: 0;
		left: 40px;
		right: 0;
		z-index: 100;
	}
	
	.main-nav--closed .main-nav__wrapper {
		display: none;
	}

	.main-nav--opened .main-nav__wrapper {
		display: block;
	}

	.main-nav--opened ~ .search {
		display: none;
	}

	.main-nav--nojs .hamburger {
		display: none;
	}

	.main-nav--nojs .main-nav__wrapper {
		padding-top: 50px;

		display: block;
		position: static;
	}
}

@media #{$tablet-width} {
	.main-nav__wrapper {
		display: block;
	}
}