@font-face {
  font-family: "PT Sans Narrow";
  src: url(../fonts/ptsansnarrow.woff2),
        url(../fonts/ptsansnarrow.woff);
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans Narrow";
  src: url(../fonts/ptsansnarrowbold.woff2),
       url(../fonts/ptsansnarrowbold.woff);
  font-weight: bold;
}