.pop-up__wrapper {
  position: relative;
}

.pop-up {
  width: 75%;
  max-width: 768px;

  padding: 70px 10% 45px;
  margin: 0 auto;

  background-color: #fff;
  box-shadow: 
    0 0px 5px rgba(0, 0, 0, 0.4);
}

.pop-up__title {
  @include vh;
}

.pop-up--pop {
  position: absolute;  
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;

  transform: translateY(-50%);
  box-shadow: 
      0 10px 20px rgba(0, 0, 0, 0.2),
    60px 0px 40px -60px rgba(0, 0, 0, 0.7),
   -60px 0px 40px -60px rgba(0, 0, 0, 0.7);
}

.pop-up__btn-switch {
  @include btn;
  @include btn__circle;

  position: absolute;
  top: 20px;
  right: 20px;

  &--none {
    display: none;
  }
}

@media #{$tablet-width} {

  .pop-up__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.2);
  }

  .pop-up {
    width: 65%;
    padding: 95px 80px 85px;
    
    &--pop {
      bottom: auto;
      top: 50%;
    }
  }

  .pop-up__btn-switch {
    top: 30px;
    right: 30px;
  }
}

