$device-type: mobile;

.info {
	display: block;
}

.info tbody {
	display: block;
}

.info__method {
	display: flex;
	flex-direction: column;

	margin-bottom: fsz($device-type, p)/1.5;

	&:last-child {
		margin-bottom: 0;
	}
}

.info__name {
	display: block;
	padding: 0;
	
	@include font(fsz($device-type, p), 1, normal, $c-grey);
	order: 2;
}

.info__info {
	display: block;
	padding: 0;
	
	text-transform: uppercase;
	@include font(fsz($device-type, p), 1, bold, $c-grey-dark, .5px);
}

@media #{$tablet-width} {

	$device-type: tablet;

	.info {
		position: absolute;
		left: 0;
		bottom: -70px;
		
		width: 100%;
	}

	.info tbody {
		display: flex;
		justify-content: space-between;
	}

	.info__method {
		margin-bottom: 0;
	}

	.info__name {
		@include font(fsz($device-type, p), 1, normal, $c-grey);
	}

	.info__info {
		@include font(fsz($device-type, p), 1, bold, $c-grey-dark, .5px);
	}
}

@media #{$desktop-width} {

	$device-type: desktop;

	.info {
		position: static;
	}

	.info__name {
		font-size: fsz($device-type, p);
	}

	.info__info {
		font-size: fsz($device-type, p);
	}
}