-
  var content = {
    "lang": {
      "ru": "ru",
      "en": "en"
    },
    "block": {
      "contacts": {
        "ru": "Контакты",
        "en": "Contacts"
      },
      "education": {
        "ru": "Образование",
        "en": "Education"
      },
      "experience": {
        "ru": "Опыт работы",
        "en": "Experience"
      },
      "skills": {
        "ru": "Навыки",
        "en": "Skills"
      },
      "knowledges": {
        "ru": "Хорошо знаком",
        "en": "Good knowledges"
      }
    },
    "name": {
      "ru": "Александр Олейниченко",
      "en": "Alexandr Oleynichenko"
    },
    "title": {
      "ru": "Резюме - Олейниченко Александр",
      "en": "Resume - Alexandr Oleynichenko"
    },
    "position": {
      "ru": "Фронтенд разработчик",
      "en": "Front-end developer"
    },
    "contacts": {
      phone: {
        "ru": "Телефон",
        "en": "Phone"
      },
      portfolio: {
        "ru": "Портфолио",
        "en": "Portfolio"
      },
      email: {
        "en": "Email",
        "ru": "Эл. почта"
      },
    },
    "courses": {
      "gorbunov": {
        "en": "School of Designers by Artem Gorbunov",
        "ru": "Школа дизайнеров Горбунова"
      },
      "interface": {
        "en": "Interface Design Course",
        "ru": "Курс интерфейсного дизайна"
      },
      "node": {
        "en": "Professional Node.js",
        "ru": "Профессиональный Node.js"
      },
      "php": {
        "en": "Professional PHP",
        "ru": "Профессиональный PHP"
      },
      "js": {
        "en": "Advanced JavaScript",
        "ru": "Продвинутый JavaScript"
      },
      "layout": {
        "en": "Advanced HTML и CSS",
        "ru": "Продвинутый HTML и CSS"
      }
    },
    "experience": {
      "be": {
        "date": {
          "ru": "С апреля 2019",
          "en": "Since April 2019"
        },
        "company": {
          "ru": "«Be Ukraine», ООО",
          "en": "«Be Ukraine» LLC"
        },
        "descr": {
          "ru": "<p class=\"business__text\">Разработка банковских приложений<br>Scss/Pug + Angular 8 + PrimeNg<br></p>",
          "en": "<p class=\"business__text\">Banking application development<br>Scss/Pug + Angular 8 + PrimeNg<br></p>"
        },
      },
      "jbook": {
        "date": {
          "ru": "2016 – 2018",
          "en": "2016 – 2018"
        },
        "company": {
          "ru": "Проект «JBOOK» - мультиязычное приложение (PWA) для изучения книг",
          "en": "Project «JBOOK» - multilingual book study app (PWA)"
        },
        "descr": {
          "ru": "<p class=\"business__text\">Разработка архитектуры приложения. <br>Верстка + Angular 6 + Node.js + " +
          "MongoDB<br> Material Design фреймворк.<br> Интеграция с API FB, VK, Twitter.<br> <br>Примеры:</p>"+
          "<ul class=\"business__list\">"+
          "<li><a target=\"_blank\" href=\"https://pticha.jbook.club/ru/project\">Книга</li>"+
          "<li><a target=\"_blank\" href=\"https://intense-chamber-18646.herokuapp.com/links/essentialism-short\">Тест «Основы эссенциализма»</li>"+
          "</ul>",
          "en": "<p class=\"business__text\">Application architecture development. <br>Layout + Angular 6 + Node.js + MongoDB<br> Material Design framework.<br> Integration with  API FB, VK, Twitter.<br> <br>Examples:</p>"+
          "<ul class=\"business__list\">"+
          "<li><a target=\"_blank\" href=\"https://pticha.jbook.club/ru/project\">Book</li>"+
          "<li><a target=\"_blank\" href=\"https://intense-chamber-18646.herokuapp" +
          ".com/links/essentialism-short\">Test «The Basic of Essentialism»</li>"+
          "</ul>"
        }
      },
      "free": {
        "date": {
          "ru": "2016 (8 месяцев)",
          "en": "2016 (8 months)"
        },
        "company": {
          "ru": "Фриланс",
          "en": "Freelance"
        },
        "descr": {
          "ru": "<p class=\"business__text\">Работы предоставлены в <a target=\"_blank\" href=\"https://oleynichenko.github.io/\">портфолио</a>.</p>",
          "en": "<p class=\"business__text\">Works are presented in the <a href=\"https://oleynichenko.github.io/\">portfolio </a>.</p>"
        }
      }
    },
    "about": [
      {
        name: {
          "ru": "Желаемая позиция",
          "en": "Desired position"
        },
        info: {
          "ru": "Фронтенд разработчик",
          "en": "Front-end developer"
        }
      },
      {
        name: {
          "ru": "Знание языков",
          "en": "Languages"
        },
        info: {
          "ru": "Английский B2",
          "en": "English B2"
        }
      },
      {
        name: {
          "ru": "Проживание",
          "en": "Residence"
        },
        info: {
          "ru": "Киев",
          "en": "Kiev"
        }
      },
      {
        name: {
          "ru": "Национальность",
          "en": "Nationality"
        },
        info: {
          "ru": "Украинец",
          "en": "Ukrainian"
        }
      }
    ],
    "update": {
      "en": "Last updated: 01.2020",
      "ru": "Последнее обновление: 01.2020"
    },
    "version": {
      "en": "Russian version",
      "ru": "English version"
    },
    "version_url": {
      "en": "/resume",
      "ru": "/resume/en.html"
    },
    "version_lang": {
      "en": "RU",
      "ru": "EN"
    },
    "description": {
      "ru": "<p>Математик по образованию. Работал до 2003 года в Институте Математики НАН Украины. <span " +
      "class='no-wrap'>За следующие 10 лет</span> прошел путь от менеджера по продажам до руководителя " +
      "дистрибуторской компании на FMCG рынке.</p><p>В 2013 перешел в интернет-маркетинг. Участвовал в продвижении " +
      "нескольких образовательных проектов. <span class='no-wrap'>С 2016 года</span> занимаюсь тем, что по-настоящему" +
      " нравится: веб-разработка и UX дизайн. </p>",
      "en": "<p>Mathematician by education. Until 2003 worked at the Institute of Mathematics of the National Academy" +
      " of Sciences. Over the next 10 years went from a sales manager to the head of a distribution company (FMCG)" +
      ".</p><p>In 2013 moved to internet marketing. Participated in the promotion of several educational projects. " +
      "Since 2016 I`ve been doing what I really like — web development and UX design.</p>"
    }
  }