-
    var content = {
        "lang": {
            "ru": "ru",
            "en": "en"
        },

        "title": {
            "ru": "Резюме Олейниченко Александра",
            "en": "Resume Alexandr Oleynichenko"
        },
        "contacts": {
          phone: {
            "ru": "Телефон",
            "en": "Phone"
          },
          portfolio: {
            "ru": "Портфолио",
            "en": "Portfolio"
          }
        }
    }