<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Resume Alexandr Oleynichenko</title>
		<meta name="description" content="Resume Alexandr Oleynichenko">
		include partials/_page_head.pug
	</head>
	<body>
		include partials/_svg-sprite.pug
		+svg-sprite("phone2", "mail", "magnifier")
		<main class="page">
			<a href="/resume" class="page__lang">RU</a>
			<header class="about">				
				<div class="about__photo">
					<picture>
						<img src="img/alexandr-ds-1x.jpg" srcset="img/alexandr-ds-2x.jpg 2x" alt="Фото" width="376" height="470">
					</picture>
				</div>
				<section class="about__block">
					<h1 class="about__name">Alexandr Oleynichenko</h1>
					<b class="about__position">Front-end developer</b>
					<div class="about__description">
						<p>Mathematician by education. Until 2003 worked at the Institute of Mathematics of the National Academy of Sciences. Over the next 10 years went from a sales manager to the head of a distribution company (FMCG).</p>
						<p>In 2013 moved to internet marketing. Participated in the promotion of several educational projects. Since 2016 I`ve been doing what I really like — web development.</p>
					</div>
					<table class="info" cellspacing="20px">
						<tr class="info__method">
							<td class="info__name">Desired position</td>
							<td class="info__info">Front-end developer</td>
						</tr>
						<tr class="info__method">
							<td class="info__name">Languages</td>
							<td class="info__info">English (intermediate)</td>
						</tr>
						<tr class="info__method">
							<td class="info__name">Residence</td>
							<td class="info__info">Kiev</td>
						</tr>				
						<tr class="info__method">
							<td class="info__name">Nationality</td>
							<td class="info__info">Ukrainian</td>
						</tr>
					</table>
				</section>
			</header>			
			<table class="contacts" cellspacing="20px">
				<h2 class="contacts__title">Contacts</h2>
				<tr class="contacts__method">
					<td class="contacts__name"><svg class="contacts__icon" width="32" height="32"><use xlink:href="#phone2"></use></svg>Phone</td>
					<td class="contacts__info"><a class="no-underline" href="tel: +380508658218">+38 050 865 82 18</a></td>
				</tr>
				<tr class="contacts__method">
					<td class="contacts__name"><svg class="contacts__icon" width="32" height="32"><use xlink:href="#mail"></use></svg>Email</td>
					<td class="contacts__info"><a href="mailto:oleynichenkos@gmail.com?subject=Invitation to an interview" class="">oleynichenkos@gmail.com</a></td>
				</tr>
				<tr class="contacts__method">
					<td class="contacts__name"><svg class="contacts__icon" width="32" height="32"><use xlink:href="#magnifier"></use></svg>Portfolio</td>
					<td class="contacts__info"><a href="https://oleynichenko.github.io/">oleynichenko.github.io</a></td>
				</tr>
			</table>
			<div class="page__module">
				<table class="page__module-item business" cellspacing="20px">
					<caption class="business__title">Education</caption>
					<tr class="business__item">
						<td class="business__key">Since October 2018</td>
						<td class="business__description">
							<span class="business__mark"><a href="https://www.jsexpert.net/angular-course/">JS Expert</a></span><br>Three-month course  «Angular 6»
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">Autumn 2018</td>
						<td class="business__description">
							<span class="business__mark"><a href="https://htmlacademy.ru/">HTML Academy</a></span><br>«Professional PHP»
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">Spring 2018</td>
						<td class="business__description">
							<span class="business__mark"><a href="https://university.mongodb.com/">MongoDB University</a></span>
							<ul>
								<li>«MongoDB Aggregation Framework»</li>
								<li>«MongoDB for Node.js Developers»</li>
								<li>«M001: MongoDB Basics»</li>
							</ul>
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">Winter 2018</td>
						<td class="business__description">
						<span class="business__mark"><a href="https://htmlacademy.ru/">HTML Academy</a></span><br>«Professional Node.js»
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">Autumn 2017</td>
						<td class="business__description">
						<span class="business__mark"><a href="http://bureau.ru/">School of Designers by Artem Gorbunov</a></span><br>«User Interface Design Course»
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">2016 – 2017</td>
						<td class="business__description">
						<span class="business__mark"><a href="https://htmlacademy.ru/">HTML Academy</a></span>
							<ul>
								<li>«Advanced JavaScript»</li>
								<li>«Advanced HTML и CSS»</li>
								<li>«Basic HTML and CSS»</li>
							</ul>
						</td>
					</tr>
				</table>
				<table class="page__module-item business" cellspacing="20px">
					<caption class="business__title">Experience</caption>
					<tr class="business__item">
						<td class="business__key">Since November 2017</td>
						<td class="business__description">
							<span class="business__mark">Project «Pumping Tests»</a></span>
							<b class="business__position">Front-end developer</b>
							<p class="business__text">Layout + JS + Node.js + MongoDB <br>   Integration with API of FB, VK, Twitter.<br> Examples:</p>
								<ul>
									<li><a href="https://tests.kiev.ua/links/js-functions">Javascript Ninja: functions</li>
									<li><a href="https://tests.kiev.ua/links/essentialism">The basic of Essentialism</li>
								</ul>
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">2017 (8 months)</td>
						<td class="business__description">
							<span class="business__mark">Freelance</span> <br>
							<b class="business__position">Front-end developer</b>
							<p class="business__text">Works are presented in the <a href="https://oleynichenko.github.io/">portfolio </a>. Most of them  — projects executed on courses.</p>
						</td>
					</tr>
					<tr class="business__item">
						<td class="business__key">11.2015 – 01.2017</td>
						<td class="business__description">
							<span class="business__mark">CDM Store</span>
							<b class="business__position">Web site administrator</b>
							<p class="business__text">Creating, supporting and promoting <span class="no-wrap">6 sites on Joomla and WordPress</span>. Writing tasks for designers and programmers. Configuring reports from Google Analytics and Yandex Metrics.</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="page__module">
				<section class="page__module-item hobbies">
					<h2 class="hobbies__title business__title">Good knowledges</h2>
					<ul class="hobbies__list">
						<li class="hobbies__item">Neuromarketing</li>
						<li class="hobbies__item">Adwords</li>
						<li class="hobbies__item">SEO</li>
						<li class="hobbies__item">Webdesign</li>
						<li class="hobbies__item">Material Design</li>
						<li class="hobbies__item">UX/UI</li>
						<li class="hobbies__item">Copywriting</li>
						<li class="hobbies__item">Psychology</li>
						<li class="hobbies__item">CPA-Marketing</li>
					</ul>
				</section>
				<table class="page__module-item business" cellspacing="20px">
					<caption class="business__title">Skills</caption>
						<tr class="business__item">
							<td class="business__key">HTML + PUG</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">CSS + SCSS</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">JavaScript</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">Node JS</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">MongoDB</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">PHP + SQL</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">Git</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">PS + AdobeXD</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
						<tr class="business__item">
							<td class="business__key">Typography</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle">+</td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
							<td class="business__circle business__circle--grey"></td>
						</tr>
					</h2>
				</table>
			</div>
		</main>
	</body>	
</html>