block language
  - var lang = 'ru'
include content.pug
doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="description" content=content.title[lang])
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{content.title[lang]}
    include partials/_styles
  body
    include partials/_svg-sprite.pug
    +svg-sprite("phone2", "mail", "magnifier")
    include partials/_business-item
    main.page
      a(href="/resume/en.html" class="page__lang") EN
      include partials/_about
      include partials/_contacts
      .page__module
        include partials/_education
        include partials/_experience
      .page__module
        include partials/_hobbies
        include partials/_skills
      .page__footer
        <p class="page__footer-updated">Последнее обновление: 03.2019</p>
        <p><a href="/resume/en.html">English version</a></p>
