	$bil-border-color: #000;
	$bil-border-color-hover: #000;
	$bil-lines-color: #000;
	$bil-color-active: rgba(#000, 0.7);

.btn-inclined-lines{
	@include btn;

	position: relative;
	z-index: 2;

	box-sizing: border-box;
	overflow: hidden;

	padding: 10px;
	border: 1px solid $bil-border-color;	
  
  text-transform: uppercase;

  &::after {
  	@include pseudo;
  	top: 50%;
  	left: 50%;

  	height: 0%;
  	width: 150%; 

		border: 2px solid $bil-lines-color;

		opacity: 0;
		transform: translateY(-50%) translateX(-50%) rotate(25deg);		
		transition: all 1s;

		z-index: 1;
  }

	&:hover {
		border-color: $bil-border-color-hover;
	}

	&:active {
		color: rgba(#000, 0.7);
	}

	&:hover::after {
		height: 300%;
		opacity: 1;
	}
}
