@mixin container() {
  width: 95%;
  max-width: 370px;
  margin: 0 auto;

  @media #{$tablet-width} {
    max-width: 835px;
  }

  @media #{$desktop-width} {
    width: $max-width;
    // height: $max-width*$page-proportion;

    max-width: none;
    margin: 0 auto;
  }
}

@mixin container-fluid {
  // width: auto;

  // @media ($tablet-width) {
    width: 87%;
    max-width: 1160px;
    margin: 0 auto;
  // }
}