@mixin font ($size: 20px, $lh: 1, $weight: normal, $color: $c-grey,  $letter-spacing: normal) {
	font-size: $size;
	color: $color;
	font-weight: $weight;
	line-height: $lh;
  letter-spacing: $letter-spacing;
}

// @mixin font-accent ($size: 18px, $lh: 1, $weight: normal, $color: #000, $letter-spacing: normal) {
//   font-family: 'Gilroy', sans-serif;
// 	font-size: $size;
// 	color: $color;
// 	font-weight: $weight;
// 	line-height: $lh;
//   letter-spacing: $letter-spacing;
// }